<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:aop="http://www.springframework.org/schema/aop" xmlns:context="http://www.springframework.org/schema/context"
       xmlns:tx="http://www.springframework.org/schema/tx"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-2.5.xsd
            http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-2.5.xsd
            http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-2.5.xsd
            http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-2.5.xsd">

    <context:property-placeholder location="classpath*:batch.properties"/>

    <bean id="batchJobService" class="edu.ucdavis.ucdhs.isweb.core.utils.BatchJobService">
        <constructor-arg value="${batch.job.service.server.url}"></constructor-arg>
    </bean>

    <bean id="appName" class="java.lang.String">
        <constructor-arg value="${batch.job.app.id}"></constructor-arg>
    </bean>
    
    <bean id="jobName" class="java.lang.String">
        <constructor-arg value="${batch.job.name}"></constructor-arg>
    </bean>
    
    <bean id="schlName" class="java.lang.String">
        <constructor-arg value="${batch.job.schedule.name}"></constructor-arg>
    </bean>

    <bean id="dataSource" class="org.apache.commons.dbcp.BasicDataSource" destroy-method="close">
        <property name="driverClassName" value="${jdbc.driverClassName}"/>
        <property name="url" value="${jdbc.url}"/>
        <property name="username" value="${jdbc.username}"/>
        <property name="password" value="${jdbc.password}"/>
        <property name="maxActive" value="30"/>
        <property name="maxIdle" value="10"/>
        <property name="maxWait" value="1000"/>
        <property name="defaultAutoCommit" value="true"/>
    </bean>

    <bean id="application" class="edu.ucdavis.ucdhs.itoc.sm.batch.PerformanceMonitor">
        <property name="dataSource"          ref="dataSource"/>
        <property name="notificationService" value="${batch.web.site.root}/core/send"/>
        <property name="noticeContext"       value="${batch.notice.context}"/>
        <property name="noticeTemplateId"    value="${batch.notice.template.id}"/>
        <property name="mailFrom"            value="${mail.from.address}"/>
        <property name="mailTo"              value="${mail.to.addresses}"/>
        <property name="serverURL"           value="${monitored.server.url}"/>
        <property name="alertThreshold"      value="${max.server.side.duration}"/>
    </bean>

</beans>
